
body {
  background: url("../assets/wallpaper.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.card-group {
  margin: 4em;
}

.col-4 {
  margin-bottom: 2em;
}

.card-body h5 {
  position: absolute;
  bottom:0.1em;
  left: 0.8em;
  
}

.outerContainer {
  display: flex;
  flex-direction: column;
}


*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}
header {
	background: url('https://images.pexels.com/photos/2874998/pexels-photo-2874998.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
  margin: 0 0 70px 0;
}
header .overlay{
  display: flex;
  flex-direction: column;
  align-items: center;
	width: 100%;
	height: 100%;
	padding: 100px 50px 330px 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #e6e2d369 10%, #b9936c6b 100%);
	
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
}

h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

.btn {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 40px;
	color: #333;
	background: #fff;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;
}

.form-search {
  display: flex; 
  width: 20em;
  justify-content: center;
  align-items: center; 
}

.search-input {
  margin: 0 10px 0 0; 
}

.fixed-scroll-button {
  position: fixed;
  top: 90%;
  align-self: center;
  right: 50%px;
  height: 100px;
  width: 4em;
  height: 4em;
  border-radius: 100%;
  border-width: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.txt-no-match {
font-family: 'Open Sans', sans-serif;
font-size: 3em;
}

.alert {
  text-shadow: none;
  min-width: 30em;
}